<div class="hover:bg-neutral rounded-md p-4 mt-8 mb-16 w-full">
  <div class="flex justify-between items-end">
    <div class="flex-col">
      <h2 class="text-2xl font-medium capitalize"> <%= @title %> </h2>
      <a target="_blank" href="<%= @link %>"
        class="text-secondary hover:text-gray-600 focus:outline-none">
        <span class="text-medium"> Go to project </span> <i class="fa-solid fa-link"></i>
      </a>
      <p class="text-primary mb-2 truncate"> <%= @stack %> </p>
      <p class="text-lg text-neutral-content leading-tight truncate">
        <%= @body %>
      </p>
    </div>
  </div>

  <div class="mockup-browser border-accent-content border mt-4">
    <div class="mockup-browser-toolbar">
      <div class="input border-base-300 border">
        <a target="_blank" href="<%= @link %>"
          class="text-neutral-content hover:text-gray-600 focus:outline-none">
          <%= @link %>
        </a>
      </div>
    </div>
  </div>

  <%= button_to project_path(@project_id), method: :delete, class: "mt-4" do %>
    <i class="fas fa-trash-alt"></i>
  <% end %>
</div>
